<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747532767573-j0k02sge4kf6b8bt3dgvcmgo407hu6mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747532767573-j0k02sge4kf6b8bt3dgvcmgo407hu6mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDT6GdHaGFHBc5_BmU8wWvAxs7wvS15_ig</string>
	<key>GCM_SENDER_ID</key>
	<string>747532767573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simplyMeet</string>
	<key>PROJECT_ID</key>
	<string>simplymeet-76369</string>
	<key>STORAGE_BUCKET</key>
	<string>simplymeet-76369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747532767573:ios:4e387ce343b3831637dfdc</string>
</dict>
</plist>